<html>

<body>
    <ul>
        <li><span>Title: </span><span>
                <%=session.title%>
            </span></li>


        <li><span>Cat: </span><span>
                <%=session.cat.fact%>
            </span></li>
        <li><span>Description: </span><span>
                <%=session.description%>
            </span></li>
    </ul>


</body>

</html>