<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>

<body>
    <form name="signup" action="/auth/signup" method="post">
        username: <input name="userame" id="username" /><br />
        password:<input name="password" type="password" id="password" />
        <input type="submit" value="Sign Up Today" class="btn btn-primary btn-lg"></input>
    </form>
</body>

</html>